{% extends 'blog_opiniones/base.html' %}

{% block header %}
<div class="container">
    <div class="text-center my-5">
        <h1 class="fw-bolder">Viajante!</h1>
        <p class="lead mb-0"><h2>Quienes somos?</h2></p>
    </div>
</div>
{% endblock %}

{% block contenido %}
    
Integrantes:<br>
    Mariano Ezequiel Schvartzman,<br>
    Mariano Moure Jorge.<br>
    Decidimos hacer un sistema de reservar y un blog de viajes ya que un miembro del grupo trabaja con un sistema similar en su día a día 
    y quisimos ver como podíamos realizar un sistema propio experimentando las dificultades y complejidades que esto conlleva.
{% endblock %}