{% extends 'blog_opiniones/base.html' %}

{% block contenido %}
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            <!-- Featured blog post-->
            <div class="card mb-4">
                {% if  opiniones.0 %}
                <a href="#!"><img style="max-width:100%;" class="card-img-top" src="{{ opiniones.0.imagen.url }}" alt="..." /></a>
                <div class="card-body">
                    <div class="small text-muted">{{opiniones.0.fecha_publicacion}}</div>
                    <h2 class="card-title">{{opiniones.0.titulo}}</h2>
                    <p class="card-text">{{opiniones.0.breve_opinion}}</p>
                    <a class="btn btn-primary" href="{% url 'opinion-detallada' opiniones.0.id %}">Ver más →</a>
                </div>
                {% endif %}
            </div>
            <!-- Nested row for non-featured blog posts-->
            <div class="row">
                <div class="col-lg-6">
                    <!-- Blog post-->
                    {% if opiniones.1 %}
                    <div class="card mb-4">
                        <a href="#!"><img style="max-width:100%;" class="card-img-top" src="{{ opiniones.1.imagen.url }}" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">{{opiniones.1.fecha_publicacion}}</div>
                            <h2 class="card-title">{{opiniones.1.titulo}}</h2>
                            <p class="card-text">{{opiniones.1.breve_opinion}}</p>
                            <a class="btn btn-primary" href="{% url 'opinion-detallada' opiniones.1.id %}">Ver más →</a>
                        </div>
                    </div>
                    {% endif %}
                    <!-- Blog post-->
                    <div class="card mb-4">
                    {% if opiniones.2 %}
                        <a href="#!"><img style="max-width:100%;" class="card-img-top" src="{{ opiniones.2.imagen.url }}" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">{{opiniones.2.fecha_publicacion}}</div>
                            <h2 class="card-title">{{opiniones.2.titulo}}</h2>
                            <p class="card-text">{{opiniones.2.breve_opinion}}</p>
                            <a class="btn btn-primary" href="{% url 'opinion-detallada' opiniones.2.id %}">Ver más →</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="col-lg-6">
                    {% if opiniones.3 %}
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img style="max-width:100%;" class="card-img-top" src="{{ opiniones.3.imagen.url }}" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">{{opiniones.3.fecha_publicacion}}</div>
                            <h2 class="card-title">{{opiniones.3.titulo}}</h2>
                            <p class="card-text">{{opiniones.3.breve_opinion}}</p>
                            <a class="btn btn-primary" href="{% url 'opinion-detallada' opiniones.3.id %}">Ver más →</a>
                        </div>
                    </div>
                    {% endif %}
                    <!-- Blog post-->
                    <div class="card mb-4">
                        {% if opiniones.4 %}
                        <a href="#!"><img style="max-width:100%;" class="card-img-top" src="{{ opiniones.4.imagen.url }}" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">{{opiniones.4.fecha_publicacion}}</div>
                            <h2 class="card-title">{{opiniones.4.titulo}}</h2>
                            <p class="card-text">{{opiniones.4.breve_opinion}}</p>
                            <a class="btn btn-primary" href="{% url 'opinion-detallada' opiniones.4.id %}">Ver más →</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Buscar Opiniones</div>
                <div class="card-body">
                    <form action="{% url 'buscar-titulo' %}" method="get">
                        {% csrf_token %}
                        <input type="search" name="opinion-titulo">
                        <input type="submit" value="Buscar">
                    </form>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">Web Design</a></li>
                                <li><a href="#!">HTML</a></li>
                                <li><a href="#!">Freebies</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">JavaScript</a></li>
                                <li><a href="#!">CSS</a></li>
                                <li><a href="#!">Tutorials</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Side Widget</div>
                <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
            </div>
        </div>
    </div>
{% endblock %}