{% extends 'blog_opiniones/base.html' %}
{% block contenido %}
<div class="container">
    {% if user.is_authenticated %}
        <a href="{% url 'crear-opinion' %}">Crear un nuevo post</a>
        <a href="{% url 'profile-update' user.id %}">Actualizar Profile</a>
    {% else %}
        <a href="{% url 'blog-login' %}"> Ingresar</a>
    {% endif %}
    
    <table class="table">
        <tr>
            <th>Titulo</th>
            <th>Breve Opinión</th>
            <th>Fecha de Publicación</th>
            <th>Actions</th>
        </tr>
        
        {% for opinion in object_list %}
            <tr>
                <td>{{ opinion.titulo }}</td>
                <td>{{ opinion.breve_opinion }}</td>
                <td>{{ opinion.fecha_publicacion }} </td>
                <td>
                    {% if user.is_authenticated %}
                        <a href="{% url 'borrar-opinion' opinion.id  %}">Borrar</a>
                        <a href="{% url 'actualizar-opinion' opinion.id  %}">Actulizar</a>
                    {% endif %}
                    <a href="{% url 'opinion-detallada' opinion.id  %}">Ver</a>
                </td>
            </tr>
        {% endfor %}
    </table>    
  

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
            {% endif %}

            <span class="current">
                Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">siguiente</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}